<template>
    <div>
        <NavBar class="mb-4" />
        <Nuxt />
    </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    middleware:['auth']
})
</script>
