<template>
    <b-form @submit.prevent="onSubmit">
        <b-form-group 
            id="email-group" 
            label="Email Address:" 
            label-for="email"
            :state="!$v.email.$invalid" 
            invalid-feedback="Enter a valid email address" 
        >
            <b-form-input
            id="email"
            v-model="email"
            :disabled="saving"
            :state="!$v.email.$invalid" 
            placeholder="Enter Email Address"
            required
            ></b-form-input>
      </b-form-group>
      <b-form-group 
        id="password-group" 
        label="Password:" 
        label-for="password"
        :state="!$v.password.$invalid" 
        invalid-feedback="enter a valid password" 
      >
            <b-form-input
            id="password"
            v-model="password"
            :disabled="saving"
             :state="!$v.password.$invalid" 
            placeholder="Enter Password"
            type="password"
            required
            ></b-form-input>
      </b-form-group>
      <b-form-group id="remember-group">
        <b-form-checkbox v-model="remember" :disabled="saving">Remember Me</b-form-checkbox>
      </b-form-group>
       <b-button type="submit" variant="primary" :disabled="saving">
           Login
           <b-spinner v-if="saving" small />
        </b-button>
        <slot />
    </b-form>
</template>

<script lang="ts">
import Vue from 'vue'
import FormHelperMixin from '~/mixins/FormHelperMixin'
import { formDataBind } from '~/helpers'
import { validationMixin } from 'vuelidate'
import { required, email } from 'vuelidate/lib/validators'

export default Vue.extend({
    props: {
        saving: {
            type: Boolean,
            required: true
        }
    },
    mixins: [validationMixin, FormHelperMixin],
    computed: {
        email: formDataBind('email'),
        password: formDataBind('password'),
        remember: formDataBind('remember')
    },
     validations: {
      email: {
          required,
          email
      },
      password: {
          required
      }
    }
})
</script>