<template>
    <b-form @submit.prevent="onSubmit">
        <b-form-group 
            id="name-group" 
            label="Your Name:" 
            :state="!$v.name.$invalid" 
            invalid-feedback="Enter your name" 
            label-for="name"
        >
            <b-form-input
            id="name"
            v-model="name"
            :disabled="saving"
            :state="!$v.name.$invalid"
            placeholder="Enter your Name"
            required
            ></b-form-input>
      </b-form-group>

      <b-form-group 
            id="description-group" 
            label="A Description:" 
            label-for="description"
        >
            <b-form-textarea
            id="description"
            v-model="description"
            :disabled="saving"
            placeholder="Enter a description"
            required
            ></b-form-textarea>
      </b-form-group>

      <b-form-group 
        id="countries-group" 
        label="Mission Country:" 
        label-for="country" 
        :state="!$v.country.$invalid" 
        invalid-feedback="Please choose a country"
        >
        <multiselect v-model="countryMulti" :options="countries" label="name" track-by="id"  :state="!$v.country.$invalid" />
      </b-form-group>
      <b-form-group 
        id="public-group" 
    >
        <b-form-checkbox v-model="publicDisplay" :disabled="saving">Mission Visible to Other Companies?</b-form-checkbox>
      </b-form-group>
     
       <b-button type="submit" variant="primary" :disabled="saving">
           {{ buttonText }}
           <b-spinner v-if="saving" small />
        </b-button>
    </b-form>
</template>

<script lang="ts">
import Vue from 'vue'
import FormHelperMixin from '~/mixins/FormHelperMixin'
import { formDataBind } from '~/helpers'
import Multiselect from 'vue-multiselect'
import { find } from 'lodash'
import { ICountryResponse } from '~/types/apiResponse'
import { validationMixin } from 'vuelidate'
import { required, email, sameAs } from 'vuelidate/lib/validators'


export default Vue.extend({
    components: {
        Multiselect
    },
    props: {
        countries: {
            type: Array
        },
        saving: {
            type: Boolean,
            required: true
        },
        buttonText: {
            type: String,
            default: 'Create'
        }
    },
    mixins: [validationMixin, FormHelperMixin],
    data() {
        return  {
            passwordConfirm: ''
        }
    },
    computed: {
        name: formDataBind('name'),
        description: formDataBind('description'),
        country: formDataBind('country'),
        public: formDataBind('public'),
        publicDisplay: {
            get() {
                return this.public
            },
            set(value) {
                this.public = value
            }
        },
        countryMulti: {
            get() {
                return find(this.countries, { id: this.country });
            },
            set(value: ICountryResponse) {
                this.country = value.id
            }
        }
    },
    validations: {
      name: {
        required,
      },
      country: {
        required
      },
      
    }
})
</script>