<template>
    <b-form @submit.prevent="onSubmit">
        <b-form-group 
            id="name-group" 
            label="Your Name:" 
            :state="!$v.name.$invalid" 
            invalid-feedback="Enter your name" 
            label-for="name"
        >
            <b-form-input
            id="name"
            v-model="name"
            :disabled="saving"
            :state="!$v.name.$invalid"
            placeholder="Enter your Name"
            required
            ></b-form-input>
      </b-form-group>
        <b-form-group 
            id="email-group" 
            label="Email Address:" 
            :state="!$v.email.$invalid" 
            invalid-feedback="Enter a valid email address" 
            label-for="email"
        >
            <b-form-input
            id="email"
            v-model="email"
            :disabled="saving"
            :state="!$v.email.$invalid"
            placeholder="Enter Email Address"
            required
            ></b-form-input>
      </b-form-group>

      <b-form-group 
        id="company-group" 
        label="Your Company Name:" 
        :state="!$v.company_name.$invalid" 
        invalid-feedback="Enter your company name"  
        label-for="company"
    >
            <b-form-input
            id="company"
            v-model="company_name"
            :disabled="saving"
            placeholder="Enter your Company Name"
            :state="!$v.company_name.$invalid"
            required
            ></b-form-input>
       </b-form-group>

      <b-form-group 
        id="password-group" 
        label="Password:" 
        :state="!$v.password.$invalid" 
        invalid-feedback="enter a valid password" 
        label-for="password"
    >
            <b-form-input
            id="password"
            v-model="password"
            :disabled="saving"
            placeholder="Enter Password"
            :state="!$v.password.$invalid"
            type="password"
            required
            ></b-form-input>
      </b-form-group>

      <b-form-group 
        id="password-group" 
        label="Password Confirm:" 
        :state="!$v.passwordConfirm.$invalid" 
        invalid-feedback="Password must match" 
        label-for="password-confirm"
    >
            <b-form-input
            id="confirm"
            v-model="passwordConfirm"
            :disabled="saving"
            placeholder="Confirm Password"
             :state="!$v.passwordConfirm.$invalid"
            type="password"
            required
            ></b-form-input>
      </b-form-group>

      <b-form-group 
        id="countries-group" 
        label="Operational Countries:" 
        label-for="operational_countries" 
        :state="!$v.operational_countries.$invalid" 
        invalid-feedback="Please choose at least 1 operational country"
        >
        <multiselect v-model="operationalCountriesMulti" :options="countries" multiple label="name" track-by="id"  :state="!$v.operational_countries.$invalid" />
      </b-form-group>
      <b-form-group 
        id="consent-group" 
        :state="!$v.consented.$invalid" 
        invalid-feedback="Please consent"
    >
        <b-form-checkbox v-model="consented" :disabled="saving" :state="!$v.consented.$invalid">I consent to my information being stored by Earth Blox</b-form-checkbox>
      </b-form-group>
       <b-form-group 
        id="confirmed_certifications-group" 
        :state="!$v.confirmed_certifications.$invalid" 
        invalid-feedback="Please confirm you have certifications"
    >
        <b-form-checkbox v-model="confirmed_certifications" :disabled="saving" :state="!$v.confirmed_certifications.$invalid">I confirm I have the correct certifications</b-form-checkbox>
      </b-form-group>
       <b-button type="submit" variant="primary" :disabled="saving">
           Register
           <b-spinner v-if="saving" small />
        </b-button>
    </b-form>
</template>

<script lang="ts">
import Vue from 'vue'
import FormHelperMixin from '~/mixins/FormHelperMixin'
import { formDataBind } from '~/helpers'
import Multiselect from 'vue-multiselect'
import { find } from 'lodash'
import { ICountryResponse } from '~/types/apiResponse'
import { validationMixin } from 'vuelidate'
import { required, email, sameAs } from 'vuelidate/lib/validators'


export default Vue.extend({
    components: {
        Multiselect
    },
    props: {
        countries: {
            type: Array
        },
        saving: {
            type: Boolean,
            required: true
        }
    },
    mixins: [validationMixin, FormHelperMixin],
    data() {
        return  {
            passwordConfirm: ''
        }
    },
    computed: {
        name: formDataBind('name'),
        email: formDataBind('email'),
        company_name: formDataBind('company_name'),
        password: formDataBind('password'),
        remember: formDataBind('remember'),
        operational_countries: formDataBind('operational_countries'),
        consented: formDataBind('consented'),
        confirmed_certifications: formDataBind('confirmed_certifications'),
        operationalCountriesMulti: {
            get() {
                const countries : Array<string> = this.operational_countries
                return countries.map(id => find(this.countries, { id }))
            },
            set(value: Array<ICountryResponse>) {
                this.operational_countries = value.map(c => c.id)
            }
        }
    },
    validations: {
      name: {
        required,
      },
      email: {
          required,
          email
      },
      company_name: {
          required
      },
      password: {
          required
      },
      passwordConfirm: {
          required,
          sameAs: sameAs("password")
      },
      operational_countries: {
          length: (c) => c.length > 0
      },
      consented: {
          mustBeTrue: (c => c === true)
      },
      confirmed_certifications: {
          mustBeTrue: (c => c === true)
      }
    }
})
</script>