<template>
    <b-card :img-src="asset.path" img-top>
        <b-card-title>
            {{asset.name}} <b-badge v-if="asset.public">Public</b-badge>
        </b-card-title>
        <b-card-body>
            Location: {{asset.latitude}}, {{asset.longitude}}
        </b-card-body>
        <template #footer>
            <b-button href="#" variant="secondary" @click.prevent="$emit('edit', asset)">Edit</b-button>
            <b-button href="#" variant="danger" @click.prevent="$emit('delete', asset)">Delete</b-button>
        </template>
    </b-card>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    props: {
        asset: {
            type: Object,
        }
    }
});
</script>