<template>
    <b-card img-src="https://picsum.photos/600/300/">
        <b-card-title>
            {{mission.name}}
        </b-card-title>
        <b-card-body class="nl2br">{{mission.description}}</b-card-body>
        <template #footer>
            <b-button href="#" variant="primary" @click.prevent="$emit('view', mission)">View</b-button>
            <b-button href="#" variant="secondary" @click.prevent="$emit('edit', mission)">Edit</b-button>
            <b-button href="#" variant="danger" @click.prevent="$emit('delete', mission)">Delete</b-button>
        </template>
    </b-card>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    props: {
        mission: {
            type: Object,
        }
    }
});
</script>