<template>
    
    <b-navbar toggleable="lg" type="dark" variant="primary">
        <b-navbar-brand href="/dashboard" @click.prevent="$router.push('/dashboard')">Earth Drone</b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
            <li class="nav-item">
                <NuxtLink to="/dashboard" class="nav-link">Missions</NuxtLink>
            </li>
            <li class="nav-item">
                <NuxtLink to="/mission/create" class="nav-link">Create Mission</NuxtLink>
            </li>
        </b-navbar-nav>

        <b-navbar-nav class="ml-auto">
            <b-nav-item-dropdown right>
                 <template #button-content>
                    <em>{{$store.state.user.user.company}}</em>
                </template>
                <b-dropdown-item href="/">Sign Out</b-dropdown-item>
            </b-nav-item-dropdown>
        </b-navbar-nav>
        </b-collapse>
    </b-navbar>
</template>