<template>
    <div>
         <b-spinner v-if="loading" />
         <div v-else-if="assets.length === 0">
             <p>You have not created any drone photos create one below:</p>
             <div class="text-center text-md-left">
                 <b-button variant="primary" @click="handleNew">Create Drone Photo</b-button>
             </div>
         </div>
         <b-row v-else>
            <b-col md="4" v-for="asset in assets" :key="asset.id" >
              <DronePhotoCard
                :asset="asset" 
                @edit="handleEdit" 
                @delete="handleDelete"
              />
            </b-col>
          </b-row>
          <AlertConfirm ref="confirm" />
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { without } from 'lodash'

export default Vue.extend({
    props: {
        missionId:{
            type: Number,
            required: true
        },
        type: {
            type: Object,
            required: true
        }
    },
    data() {
        return {
            loading: false,
            assets: []
        }
    },
    async mounted() {
        try {
            this.loading = true
            const assets = await this.$api.asset().forMission(this.type.key, this.missionId)
            this.assets = assets
        }catch(e) {
            console.error(e)
        } finally{
            this.loading = false
        }
    },
    methods: {
        handleNew() {
            this.$router.push('/mission/'+this.missionId+'/'+this.type.key+'/create')
        },
        handleEdit(asset: any) {
            this.$store.commit('asset/setActiveAsset', asset)
            this.$router.push('/mission/'+this.missionId+'/'+this.type.key+'/'+asset.id)
        },
        async handleDelete(asset: any) {
          // @ts-ignore
            const confirmed = await this.$refs.confirm.ask('Are you sure you want to delete this drone photo?');
            if(confirmed) {
                this.$api.asset().delete(asset.id)
                // @ts-ignore
                this.assets = without(this.assets, asset)
            }  
        }
    }
});
</script>