<template>
    <div>
        <b-spinner v-if="loading" />
        <div v-else-if="assets.length === 0">
             <p>You have not created any ground control locations create one below:</p>
             <div class="text-center text-md-left">
                 <b-button variant="primary" @click="handleNew">Create Ground Control Location</b-button>
             </div>
         </div>
        <div v-else>
            <b-table :items="assets" :fields="headings" responsive>
                <div slot="cell(actions)" slot-scope="row">
                    <b-button href="#" variant="secondary" @click.prevent="handleEdit(row.item)">Edit</b-button>
                    <b-button href="#" variant="danger" @click.prevent="handleDelete(row.item)">Delete</b-button>
                </div>
            </b-table>
        </div>
        <AlertConfirm ref="confirm" />
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { without } from 'lodash'

export default Vue.extend({
    props: {
        missionId:{
            type: Number,
            required: true
        },
        type: {
            type: Object,
            required: true
        }
    },
    data() {
        return {
            loading: false,
            assets: [],
            headings: [
                'name',
                'description',
                'latitude',
                'longitude',
                'actions'
            ]
        }
    },
    async mounted() {
         try {
            this.loading = true
            const assets = await this.$api.asset().forMission(this.type.key, this.missionId)
            this.assets = assets
        }catch(e) {
            console.error(e)
        } finally{
            this.loading = false
        }
    },
    methods: {
        handleNew() {
            this.$router.push('/mission/'+this.missionId+'/'+this.type.key+'/create')
        },
        handleEdit(asset: any) {
            this.$store.commit('asset/setActiveAsset', asset)
            this.$router.push('/mission/'+this.missionId+'/'+this.type.key+'/'+asset.id)
        },
        async handleDelete(asset: any) {
          // @ts-ignore
            const confirmed = await this.$refs.confirm.ask('Are you sure you want to delete this geo tag?');
            if(confirmed) {
                this.$api.asset().delete(asset.id)
                // @ts-ignore
                this.assets = without(this.assets, asset)
            }  
        }
    }
});
</script>