<template>
    <div class="d-flex align-items-center vh-100">
        <b-container fluid="md">
        <b-card>
            <b-card-title class="text-center text-md-left">
            Earth Drone Mission ({{mission.name}})
            <div>
                <small>Edit {{assetType.name}}</small>
            </div>
            </b-card-title>
            <AlertFormError :error="errors" />
            <Component :is="assetType.formComponent" :default="asset" :mission-id="mission.id" :saving="saving" :is-edit="true" @submit="handleSubmit">
              <b-button variant="secondary" @click="handleBackButton">Back</b-button>
            </Component>
        </b-card>
        </b-container>
    </div>
</template>


<script lang="ts">
import Vue from 'vue'
import { IAssetTypeResponse } from '~/types/apiResponse'
import { IMissionData } from '~/types/forms'

export default Vue.extend({
  async fetch({ store }) {
    await Promise.all([
      store.dispatch('asset/fetchTypes')
    ])
  },
  data() {
    return {
      saving: false,
      errors: null
    }
  },
  computed: {
    mission(): IMissionData {
      return this.$store.getters['mission/byId'](parseInt(this.$route.params.id))
    },
    assetTypes(): Array<IAssetTypeResponse> {
      return this.$store.state.asset.types
    },
    assetType() {
        return this.$store.getters['asset/typeByKey'](this.$route.params.type)
    },
    asset() {
        return this.$store.state.asset.activeAsset
    }
  },
  methods: {
    handleCreateType(type : IAssetTypeResponse) {
      this.$router.push('/mission/'+this.mission.id+'/'+type.key+'/create')
    },
    handleBackButton() {
      this.$router.push('/mission/'+this.mission.id)
    },
    async handleSubmit(formData: any) {
      try {
        this.errors = null
        this.saving = true
        const asset = await this.$api.asset().update(this.asset.id, formData)
        this.$router.push('/mission/'+this.mission.id)
        this.$root.$bvToast.toast(this.assetType.name+' has been edited', {variant: 'success', autoHideDelay :3000, title:'Success'});
      }catch(err: any) {
        this.errors = err
      } finally {
        this.saving = false
      }
    }
  }
})
</script>
