<template>
  <b-container fluid="md">
      <div v-if="hasMissions">
          <h1 class="text-center text-md-left">Your Drone Missions</h1>
          <b-row>
            <b-col md="4"  v-for="mission in missions" :key="mission.id" >
              <MissionCard 
                :mission="mission" 
                @edit="handleEditMission" 
                @delete="handleDeleteMission" 
                @view="handleViewMission" 
              />
            </b-col>
          </b-row>
      </div>
      <div v-else>
        <h3 class="text-center text-md-left">Hey {{user.name}},</h3>
        <p>Create your first mission. Click the link above to blast off!</p>
        <div class="text-center text-md-left">
          <b-button variant="primary" size="lg" @click="createMission">Create your first Mission</b-button>
        </div>
      </div>
       <AlertConfirm ref="confirm" />
  </b-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { IMissionData } from '~/types/forms'

export default Vue.extend({
  async fetch({ store }) {
    await Promise.all([
      store.dispatch('country/fetchCountries'),
      store.dispatch('mission/fetchMissions')
    ])
  },
  computed: {
      user() {
          return this.$store.state.user.user
      },
      missions() : Array<IMissionData> {
        return this.$store.state.mission.missions
      },
      hasMissions() : boolean {
        return this.missions.length > 0
      }
  },
  methods: {
    handleViewMission(mission: IMissionData) {
      this.$router.push('/mission/'+mission.id)
    },
    handleEditMission(mission: IMissionData){
      this.$router.push('/mission/edit/'+mission.id)
    },
    async handleDeleteMission(mission: IMissionData) {
        // @ts-ignore
        const confirmed = await this.$refs.confirm.ask('Are you sure you want to delete this mission?');
        if(confirmed) {
          this.$api.mission().delete(mission)
          this.$store.commit('mission/removeMission', mission)
        }
    },
    createMission() {
      this.$router.push('/mission/create')
    }
  }
})
</script>
