<template>
  <div class="d-flex align-items-center vh-100">
    <b-container fluid="md">
      <b-card>
        <b-card-title class="text-center text-md-left">
          Welcome to Earth Drone
        </b-card-title>
        <b-card-text >
          Please use the form below to be able to login to your Earth Drone account.
        </b-card-text>
        <AlertFormError :error="errors" />
        <FormLogin :default="form" :saving="saving" @submit="handleSubmit">
          <b-button variant="secondary" @click="handleRegister">Register</b-button>
        </FormLogin>
      </b-card>
    </b-container>
  </div>
  
</template>

<script lang="ts">
import Vue from 'vue'
import { ILoginData } from '~/types/forms'

class LoginData implements ILoginData {
  email= ''
  password = ''
  remember = false
}

export default Vue.extend({
  layout: 'auth',
  data() {
    return {
      saving: false,
      form: new LoginData,
      errors: null
    }
  },
  methods: {
    async handleSubmit(formData: ILoginData) {
      try {
        this.errors = null
        this.saving = true
        const user = await this.$api.auth().login(formData)
        this.$store.commit('user/setUser', user)
        this.$router.push('/dashboard')
      }catch(err: any) {
        this.errors = err
      } finally {
        this.saving = false
      }
      
    },
    handleRegister() {
      this.$router.push('/register')
    }
  }
})
</script>
