<template>
  <div class="d-flex align-items-center vh-100">
    <b-container fluid="md">
      <b-card>
        <b-card-title class="text-center text-md-left">
          Welcome to Earth Drone
        </b-card-title>
        <b-card-text >
          Please fill out the details below to create yor Earth Drone Account
        </b-card-text>
        <AlertFormError :error="errors" />
        <FormRegister :default="form" :saving="saving" :countries="countriesForForm" @submit="handleSubmit" />
      </b-card>
    </b-container>
  </div>
  
</template>

<script lang="ts">
import Vue from 'vue'
import { IRegisterData } from '~/types/forms'

class RegisterData implements IRegisterData {
  name: string = ''
  email: string = ''
  password: string = ''
  password_confirm: string = ''
  company_name: string = ''
  confirmed_certifications: boolean = false
  consented: boolean = false
  operational_countries: Array<string> = []
}

export default Vue.extend({
  layout: 'auth',
  data() {
    return {
      saving: false,
      form: new RegisterData,
      errors: null,
      countries: []
    }
  },
  mounted() {
    this.$store.dispatch('country/fetchCountries');
  },
  computed: {
    countriesForForm() {
      return this.$store.state.country.countries
    }
  },
  methods: {
    async handleSubmit(formData: IRegisterData) {
      try {
        this.errors = null
        this.saving = true
        const user = await this.$api.auth().register(formData)
        this.$store.commit('user/setUser', user)
        this.$router.push('/dashboard')
      }catch(err: any) {
        this.errors = err
      } finally {
        this.saving = false
      }
      
    }
  }
})
</script>
