<template>
  <div class="d-flex align-items-center vh-100">
    <b-container fluid="md">
      <b-card>
        <b-card-title class="text-center text-md-left">
         Earth Drone Mission
        </b-card-title>
        <b-card-text >
          Please use this form to create your mission
        </b-card-text>
        <AlertFormError :error="errors" />
        <FormMission :default="form" :saving="saving" :countries="countriesForForm" @submit="handleSubmit" />
      </b-card>
    </b-container>
  </div>
  
</template>

<script lang="ts">
import Vue from 'vue'
import { IMissionData } from '~/types/forms'

class MissionData implements IMissionData {
    id?: number
    name: string = ''
    description: string = ''
    public: boolean = false
    country: string = ''
}

export default Vue.extend({
  async fetch({ store }) {
    await store.dispatch('country/fetchCountries')
  },
  data() {
    return {
      saving: false,
      form: new MissionData,
      errors: null
    }
  },
  computed: {
    countriesForForm() {
      return this.$store.state.country.countries
    }
  },
  methods: {
    async handleSubmit(formData: IMissionData) {
      try {
        this.errors = null
        this.saving = true
        const mission = await this.$api.mission().create(formData)
        this.$store.commit('mission/appendMission', mission)
        this.$root.$bvToast.toast('mission has been created', {variant: 'success', autoHideDelay :3000, title:'Success'});
        this.$router.push('/dashboard')
      }catch(err: any) {
        this.errors = err
      } finally {
        this.saving = false
      }
    }
  }
})
</script>
