<template>
  <div class="d-flex align-items-top vh-100">
    <b-container fluid="md">
      <h3 class="text-center d-md-none">{{mission.name}}</h3>
      <div class="d-md-none mb-2 text-center">
       <b-dropdown id="dropdown-1" text="Create Asset">
          <b-dropdown-item v-for="type in assetTypes" :key="type.key" @click="handleCreateType(type, $event)">{{type.name}}</b-dropdown-item>
        </b-dropdown>
      </div>
        <div>
          <b-tabs v-model="activeMissionTab" content-class="mt-3" pills>
            <b-tab title="Mission">
              <b-card>
                <b-card-title class="text-center d-none d-md-block text-md-left">
                {{mission.name}}
                </b-card-title>
               
                <b-card-text>
                  <div class="d-flex align-items-center flex-column flex-md-row">
                    <div  class="nl2br flex-grow-1">{{mission.description}}</div>
                    <div class="ml-2">
                      <img class="mt-2 mt-md-0 w-100" src="https://picsum.photos/400/300/">
                    </div>
                  </div>
                  </b-card-text>
                
              </b-card>
            </b-tab>
            <b-tab v-for="type in assetTypes" :key="type.id" :title="type.namePlural" :id="type.key">
              <component :is="type.collectionComponent" :mission-id="mission.id" :type="type" />
            </b-tab>
            <div slot="tabs-end" class="flex-grow-1 text-right d-none d-md-block">
                <b-dropdown id="dropdown-1" text="Create Asset">
                    <b-dropdown-item v-for="type in assetTypes" :key="type.key" @click="handleCreateType(type, $event)">{{type.name}}</b-dropdown-item>
                </b-dropdown>
              </div>
          </b-tabs>
        </div>
    </b-container>
  </div>
  
</template>

<script lang="ts">
import Vue from 'vue'
import { IAssetTypeResponse } from '~/types/apiResponse'
import { IMissionData } from '~/types/forms'

export default Vue.extend({
  async fetch({ store }) {
    await Promise.all([
      store.dispatch('asset/fetchTypes')
    ])
  },
  computed: {
    mission(): IMissionData {
      return this.$store.getters['mission/byId'](parseInt(this.$route.params.id))
    },
    assetTypes(): Array<IAssetTypeResponse> {
      return this.$store.state.asset.types
    },
    activeMissionTab: {
      get() {
        // @ts-ignore
        return this.$store.getters['mission/tabIndexForMission'](this.mission.id)
      },
      set(value) {
        this.$store.commit('mission/setMissionTabIndex', {
          missionId: this.mission.id,
          tabIdx: value
        })
      }
    }
  },
  methods: {
    handleCreateType(type : IAssetTypeResponse) {
      this.$router.push('/mission/'+this.mission.id+'/'+type.key+'/create')
    }
  }
})
</script>
