<template>
    <b-form @submit.prevent="onSubmit">
        <b-form-group 
            id="image-group" 
            label="Image:" 
            label-for="image"
            :state="!$v.image.$invalid" 
            invalid-feedback="Choose an image" 
        >
            <b-form-file
            id="image"
            v-model="image"
            :disabled="saving"
            :state="!$v.image.$invalid" 
            placeholder="choose image"

            ></b-form-file>
      </b-form-group>
        <b-form-group 
            id="name-group" 
            label="Image Name:" 
            label-for="name"
            :state="!$v.name.$invalid" 
            invalid-feedback="Enter a valid name" 
        >
            <b-form-input
            id="name"
            v-model="name"
            :disabled="saving"
            :state="!$v.name.$invalid" 
            placeholder="Enter name"
            required
            ></b-form-input>
      </b-form-group>
      
      <b-form-group id="public-group">
        <b-form-checkbox v-model="availableToPublic" :disabled="saving">Photo available to public</b-form-checkbox>
      </b-form-group>
      

       <b-button type="submit" variant="primary" :disabled="saving">
           {{buttonText}}
           <b-spinner v-if="saving" small />
        </b-button>
        <slot />
    </b-form>
</template>

<script lang="ts">
import Vue from 'vue'
import FormHelperMixin from '~/mixins/FormHelperMixin'
import { formDataBind } from '~/helpers'
import { validationMixin } from 'vuelidate'
import { required, requiredIf } from 'vuelidate/lib/validators'

export default Vue.extend({
    props: {
        saving: {
            type: Boolean,
            required: true
        },
        missionId: {
            type: Number,
            required: true
        },
        buttonText: {
            type: String,
            default: 'Upload'
        },
        isEdit: {
            type: Boolean,
            default: false
        }
    },
    mixins: [validationMixin, FormHelperMixin],
    computed: {
        name: formDataBind('name'),
        image: formDataBind('image'),
        availableToPublic: formDataBind('public')
    },
    methods: {
        onSubmitHandler(formData: any) {
            const formDataForSubmit = new FormData();
            formDataForSubmit.append('mission_id', this.missionId.toString())
            formDataForSubmit.append('name', formData.name)
            formDataForSubmit.append('public', formData.public ? '1' : '0')
            if(formData.image) {
                formDataForSubmit.append('image', formData.image)
            }          
            return formDataForSubmit
        }
    },
     validations: {
      name: {
          required
      },
      image: {
          required: requiredIf(function() {
              // @ts-ignores
              return this.isEdit === false
          })
      }
    }
})
</script>