<template>
    <b-form @submit.prevent="onSubmit">
        <b-form-group 
            id="name-group" 
            label="Station Name:" 
            label-for="name"
            :state="!$v.name.$invalid" 
            invalid-feedback="Enter a valid name" 
        >
            <b-form-input
            id="name"
            v-model="name"
            :disabled="saving"
            :state="!$v.name.$invalid" 
            placeholder="Enter name"
            required
            ></b-form-input>
      </b-form-group>
      <b-form-group 
            id="description-group" 
            label="Station Description:" 
            label-for="description"
            :state="!$v.description.$invalid" 
            invalid-feedback="enter a description" 
        >
            <b-form-textarea
            id="description"
            v-model="description"
            :disabled="saving"
            :state="!$v.description.$invalid" 
            placeholder="Description"
            required
            ></b-form-textarea>
      </b-form-group>

      <b-form-group 
            id="lat-group" 
            label="Latitude:" 
            label-for="latitude"
            :state="!$v.latitude.$invalid" 
            invalid-feedback="Enter a valid latitude" 
        >
            <b-form-input
            id="latitude"
            v-model="latitude"
            :disabled="saving"
            :state="!$v.latitude.$invalid" 
            placeholder="Enter latitude"
            required
            ></b-form-input>
      </b-form-group>
       <b-form-group 
            id="lon-group" 
            label="longitude:" 
            label-for="longitude"
            :state="!$v.longitude.$invalid" 
            invalid-feedback="Enter a valid lontitude" 
        >
            <b-form-input
            id="longitude"
            v-model="longitude"
            :disabled="saving"
            :state="!$v.longitude.$invalid" 
            placeholder="Enter latitude"
            required
            ></b-form-input>
      </b-form-group>
      
      <b-form-group id="public-group">
        <b-form-checkbox v-model="availableToPublic" :disabled="saving">Available to public</b-form-checkbox>
      </b-form-group>
      

       <b-button type="submit" variant="primary" :disabled="saving">
           {{buttonText}}
           <b-spinner v-if="saving" small />
        </b-button>
        <slot />
    </b-form>
</template>

<script lang="ts">
import Vue from 'vue'
import FormHelperMixin from '~/mixins/FormHelperMixin'
import { formDataBind } from '~/helpers'
import { validationMixin } from 'vuelidate'
import { required, decimal } from 'vuelidate/lib/validators'

export default Vue.extend({
    props: {
        saving: {
            type: Boolean,
            required: true
        },
        missionId: {
            type: Number,
            required: true
        },
        buttonText: {
            type: String,
            default: 'Create'
        },
        isEdit: {
            type: Boolean,
            default: false
        }
    },
    mixins: [validationMixin, FormHelperMixin],
    computed: {
        name: formDataBind('name'),
        description: formDataBind('description'),
        availableToPublic: formDataBind('public'),
        latitude: formDataBind('latitude'),
        longitude: formDataBind('longitude'),
    },
    methods: {
        onSubmitHandler(formData: any) {
            const formDataForSubmit = new FormData();
            formDataForSubmit.append('mission_id', this.missionId.toString())
            formDataForSubmit.append('name', formData.name)
            formDataForSubmit.append('description', formData.description)
            formDataForSubmit.append('latitude', formData.latitude)
            formDataForSubmit.append('longitude', formData.longitude)
            formDataForSubmit.append('public', formData.public ? '1' : '0')     
            return formDataForSubmit
        }
    },
     validations: {
      name: {
          required
      },
      description: {
      },
      latitude: {
          required,
          decimal
      },
      longitude: {
          required,
          decimal
      },
    }
})
</script>