<template>
    <b-modal v-model="show" @ok="handleOk" @hidden="handleHidden">
        {{message}}
    </b-modal>
</template>

<script>

export default {
    data() {
        return {
            show: false,
            message: 'Are you sure?',
            resolve: null,
            reject: null
        }
    },
    methods: {
        handleOk() {
            if(this.resolve) {
                this.resolve(true)
                this.resolve = null
            }
        },
        handleHidden() {
            if(this.resolve) {
                this.resolve(false)
                this.resolve = null
            }
        },
        async ask(message){
            this.message = message
            this.show = true
            return new Promise((resolve, reject) => {
                this.resolve = resolve
                this.reject = reject
            })
        }
    }
}
</script>