<template>
    <b-alert variant="danger" :show="hasErrors">
        <div v-for="error in errors" :key="error">
            {{ error }}
        </div>
    </b-alert>
</template>

<script>

export default {
    props: ['error'],
    computed: {
        hasErrors() {
            return this.error && !!this.error.message
        },
        errors() {
            if(this.hasErrors) {
                if(typeof this.error.getErrors === 'function' && this.error.getErrors().length > 0) {
                    return this.error.getErrors().map(err => err.value)
                }
                return [this.error.message]
            }
            return []
        }
    }
}
</script>